/* styles.css */

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Align images to centre and set size */
img {
    width: 500px;
    height: auto;
    display: block;
    margin: auto;
}

/* Home Page Images */
.homeimg {
    display: block;
    width: auto;
    height: 300px;
}

/* Homepage - Styles for list of recipes */

.home-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

/* Color and alignment for heading */
h1 {
    background-color: black;
    color: white;
    text-align: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

.text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

.text-overlay a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.text-overlay a:hover {
    text-decoration: underline;
}

.recipe-text {
    
}